h1 {
    font-size: 3rem;
    color: coral;
    font-family: cursive;
    text-align: center;
    padding: 1rem;
}

body {
    background-color: gray;
}

h2 {
    font-size: 2rem;
    color: rgb(255, 80, 80);
    font-family: cursive;
    text-align: center;
    padding: 1rem;
}

p {
    font-size: 1rem;
    color: rgb(255, 80, 80);
    font-family: cursive;
    text-align: center;
    padding: 1rem;
}
